/* Light Mode */
:root {
  --background-main-color: rgb(255, 255, 255);
  --background-alternative-color: rgb(241, 241, 241);

  --text-color: rgb(0, 0, 0);

  --btn-background-color: rgb(223, 225, 229);
  --btn-box-shadow: rgba(0, 0, 0, 0.2);

  --search-input-background-color: rgb(255, 255, 255);
  --search-input-box-shadow: rgba(0, 0, 0, 0.2);
  --search-input-border-color: rgb(223, 225, 229);
  --search-input-placeholder-color: rgb(0, 0, 0);

  --theme-btn-background-color: rgb(255, 255, 255);
}

/* Dark Mode */
.dark-mode {
  --background-main-color: rgb(25, 25, 25);
  --background-alternative-color: rgb(30, 30, 30);

  --text-color: rgb(255, 255, 255);

  --btn-background-color: rgb(50, 50, 50);
  --btn-box-shadow: rgba(255, 255, 255, 0.25);

  --search-input-background-color: rgb(50, 50, 50);
  --search-input-box-shadow: rgba(255, 255, 255, 0.25);
  --search-input-border-color: rgb(30, 30, 30);
  --search-input-placeholder-color: rgb(255, 255, 255);

  --theme-btn-background-color: rgb(50, 50, 50);
}

/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: var(--background-main-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Layout */
.main {
  margin-top: 100px;
  flex: 1;
}

/* Components */
.logo-img {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.search-input {
  display: block;
  width: 500px;
  line-height: 24px;
  margin: 20px auto 0;
  padding: 10px 30px;
  color: var(--text-color);
  background-color: var(--search-input-background-color);
  border: 1px solid var(--search-input-border-color);
  border-radius: 24px;
  transition: transform 0.2s ease-out;
}
.search-input::placeholder {
  color: var(--search-input-placeholder-color);
  font-size: 14px;
}
.search-input:focus,
.search-input:hover {
  outline: none;
  box-shadow: 1px 1px 5px var(--search-input-box-shadow);
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  background: var(--btn-background-color);
  color: var(--text-color);
  font-size: 14px;
  margin: 20px 10px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  transition: transform 0.2s ease-out;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px var(--btn-box-shadow);
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}
.btn:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in;
}

.theme-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0px;
}
.theme-btn {
  background-color: var(--theme-btn-background-color);
  font-size: 14px;
  margin: 20px 10px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  transition: transform 0.2s ease-out;
}
.theme-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}
.theme-btn:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: var(--background-alternative-color);
}
.github {
  text-decoration: none;
}