/* Main Container */
.main {
  margin-top: 100px; /* Makes space between the logo and the search bar */
} /* End of Main Container */

/* Google Logo CSS */
.logo-img {
  display: block;
  width: 300px; /* Width of Google logo */
  margin-left: auto;
  margin-right: auto;
} /* End of Logo Styling */

/* Search Input CSS */
.search-input {
  display: block;
  width: 400px; /* Width of Search Input */
  line-height: 24px; /* Height of Search Input */
  margin-left: auto; /* Helps with centering */
  margin-right: auto; /* Helps with centering */
  margin-top: 20px; /* Adds space between the Google Logo and Search Input */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
} /* End of Search Input CSS */

/* Remove outline on focus for Search Input */
.search-input:focus {
  outline: none;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
} /* End of Search Input Focus */

/* Search Input Hover Effect */
.search-input:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
} /* End of Search Input Hover Effect */

/* Buttons Styling */
.btn-container {
  display: flex;
  justify-content: center;
} /* End of Button Wrapper */

.btn {
  background: #dfe1e5;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 4px;
} /* End of Button CSS */

.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
} /* End of Button Hover */
